.dark-mode {
    background-color: darken($color: $grisOscuro, $amount: 10);
    p , td{
        color: $blanco;
    }
    a, h1, h2, h3, h4 {
        color: $gris;
    }

    .anuncio,
    .resumen-propiedad {
        background-color: darken($color: $grisOscuro, $amount: 10);
        border: 1px solid darken($color: $grisOscuro, $amount: 6);
        .precio {
            color: $verde;
        }
        .icono {
            filter: invert(100%);
        }
    }

    .contenido-nosotros h4 {
        color: $blanco;
    }

    .formulario {
        label,
        legend,
        p {
            color: $gris;
        }
        input:not([type="submit"]),
        textarea,
        select {
            background-color: $grisOscuro;
            border: 1px solid $grisOscuro;
            color: $blanco;
        }
    }
}