@include tablet {
    .contenedor-anuncios {
        @include grid(3, 2rem)
    }
}
.resumen-propiedad {
    max-width: 85rem;
}
.anuncio {
    margin-top: 2rem;
    background-color: lighten($gris, 5);
    border: 1px solid darken($gris, 10);
    .contenido-anuncio {
        padding: 2rem;
        .contenido-anuncio-descripcion {
            max-height: 5.5em;
            max-width: 46.6rem;
            overflow: hidden;

        }
    }
    h3, p {
        margin: 0;
    }
    
}
.precio {
    color: $verde;
    font-weight: $bold;
    font-size: 3rem;
}
.iconos-caracteristicas {
    display: flex;
    list-style: none;
    padding: 0;
    align-items: center;
    justify-content: space-evenly;
    p {
        text-align: center;
    }
}