@use 'base/variables' as v;
.footer {
    margin: 2rem 0 0 0;
    background-color: v.$grisOscuro;
    .contenedor-footer {
        padding-top: 2.3rem;
    }
    .copyright {
        color: $blanco;
        text-align: center;
        margin-bottom: 0;
        padding-bottom: 2rem;
    }
}



